@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/publicsans-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/publicsans-variable-italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: linja-pona;
  src: url('/fonts/linja-pona-4.9.otf') format('opentype');
}